doctype html
html
  head
    link(rel="stylesheet", href="/styles/reset.css")
    link(rel="stylesheet", href="index.css")
    title Home
  body
    .main
      .project-info
        // TODO: If in browser, add button to add to/open in Superpowers
      .chat
        ol
      .chat-input
        textarea(placeholder= t("home:links.chatPlaceholder"),maxlength=300)
    .sidebar
      .links
        .header= t("home:links.title")
        .content
          ul
            li
              a(href="https://sparklinlabs.com/",target="_blank")= t("home:links.officialWebsite")
            li
              a(href="https://trello.com/b/eQUeNKrq/superpowers",target="_blank")= t("home:links.devRoadmap")
            li
              span= t("home:links.skypeGroupChat")
              a(href="https://sparklinlabs.com/skype/en",target="_blank") EN
              |  &middot; 
              a(href="https://sparklinlabs.com/skype/fr",target="_blank") FR
            li
              span= t("home:links.forums")
              a(href="https://reddit.com/r/superpowers",target="_blank") EN
              |  &middot; 
              a(href="https://reddit.com/r/superpowers_fr",target="_blank") FR
      .members
        .header= t("home:onlineMembers")
        .content
          ul

    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="index.js")
