doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/resizeHandle.css")
    link(rel="stylesheet",href="/styles/treeView.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="/styles/properties.css")
    link(rel="stylesheet",href="/styles/toolbar.css")
    link(rel="stylesheet",href="index.css")

  body
    .main
      .spritesheet-container
        canvas(tabindex="0")

      .resize-handle.bottom
      .animation-container
        .animation-control.toolbar
          div
            .title= t("spriteEditor:preview.playback")
            button(disabled).animation-play ▶
            input(disabled,type="range",value="0").animation-slider
            input#loop-checkbox(type="checkbox",checked).animation-loop
            label(for="loop-checkbox")= t("spriteEditor:preview.loop")
        canvas(tabindex="0")

    .sidebar
      table.properties
        tr
          th(colspan="2")= t("spriteEditor:sidebar.settings.sprite.title")
        tr
          th= t("spriteEditor:sidebar.settings.sprite.texture.title")
          td
            button.upload= t("common:actions.upload")
            form(style="display: none")
              input.file-select(type="file",accept="image/*")

            button.download= t("common:actions.download")
        tr
          th= t("spriteEditor:sidebar.settings.sprite.texture.size")
          td.image-size
            input(type="text",readonly)
        tr
          th= t("spriteEditor:sidebar.settings.sprite.grid.size")
          td
            .inputs
              input.property-grid-width(type="number")
              input.property-grid-height(type="number")
              button.set-grid-size= t("spriteEditor:sidebar.settings.sprite.grid.setup")
        tr
          th= t("spriteEditor:sidebar.settings.sprite.origin")
          td
            .inputs
              input.property-origin-x(type="number")
              input.property-origin-y(type="number")

        tr
          th(colspan="2")= t("spriteEditor:sidebar.settings.rendering.title")
        tr
          th= t("spriteEditor:sidebar.settings.rendering.pixelsPerUnit")
          td
            input(type="number",min="1").property-pixelsPerUnit
        tr
          th= t("spriteEditor:sidebar.settings.rendering.filtering.title")
          td
            select.property-filtering
              option(value="pixelated")= t("spriteEditor:sidebar.settings.rendering.filtering.pixelated")
              option(value="smooth")= t("spriteEditor:sidebar.settings.rendering.filtering.smooth")
        tr
          th= t("spriteEditor:sidebar.settings.rendering.wrapping.title")
          td
            select.property-wrapping
              option(value="clampToEdge")= t("spriteEditor:sidebar.settings.rendering.wrapping.clampToEdge")
              option(value="repeat")= t("spriteEditor:sidebar.settings.rendering.wrapping.repeat")
              option(value="mirroredRepeat")= t("spriteEditor:sidebar.settings.rendering.wrapping.mirroredRepeat")
        tr
          th= t("spriteEditor:sidebar.settings.rendering.opacity.title")
          td
            select.opacity-select
              option(value="opaque")= t("spriteEditor:sidebar.settings.rendering.opacity.opaque")
              option(value="transparent")= t("spriteEditor:sidebar.settings.rendering.opacity.transparent")
            .inputs(hidden)
              input(type="range",min="0",max="1",step="0.01",style="flex: 2;").opacity-slider
              input(type="number",min="0",max="1",step="0.1").property-opacity
        tr
          th= t("spriteEditor:sidebar.settings.rendering.alphaTest")
          td
            input(type="number",min="0",max="1",step="0.1").property-alphaTest

        tr
          th(colspan="2")= t("spriteEditor:sidebar.settings.animation.title")
        tr
          th= t("spriteEditor:sidebar.settings.animation.framesPerSecond")
          td
            input(type="number",min="1").property-framesPerSecond

        tr
          th= t("spriteEditor:sidebar.settings.animation.frameOrder.title")
          td
            select.property-frameOrder
              option(value="rows")= t("spriteEditor:sidebar.settings.animation.frameOrder.rows")
              option(value="columns")= t("spriteEditor:sidebar.settings.animation.frameOrder.columns")

      .animations
        .header
          span= t("spriteEditor:sidebar.animations.title")
        .animations-buttons.button-strip
          button.new-animation= t("common:actions.new")
          button(disabled).rename-animation= t("common:actions.rename")
          button(disabled).delete-animation= t("common:actions.delete")
  
        .animations-tree-view

      .resize-handle.bottom
      .advanced-textures.collapsable.collapsed
        .header
          .label= t("spriteEditor:sidebar.advancedTextures.title")
        .content(hidden)
          table.properties
            tr
              th= t("spriteEditor:sidebar.advancedTextures.map")
              td
                input.map-map
            tr
              th= t("spriteEditor:sidebar.advancedTextures.lightMap")
              td
                input.map-light
            tr
              th= t("spriteEditor:sidebar.advancedTextures.specularMap")
              td
                input.map-specular
            tr
              th= t("spriteEditor:sidebar.advancedTextures.alphaMap")
              td
                input.map-alpha
            tr
              th= t("spriteEditor:sidebar.advancedTextures.normalMap")
              td
                input.map-normal

          .textures-buttons.button-strip
            button.new-map= t("common:actions.new")
            form(style="display: none")
              input.file-select.upload-map(type="file",multiple)
            button(disabled).upload-map= t("common:actions.upload")
            button(disabled).download-map= t("common:actions.download")
            button(disabled).rename-map= t("common:actions.rename")
            button(disabled).delete-map= t("common:actions.delete")
          .textures-tree-view

    script(src="/SupCore.js")
    script(src="../../../../../SupEngine.js")
    script(src="/SupClient.js")
    script(src="../../bundles/data.js")
    script(src="../../bundles/components.js")
    script(src="index.js")
