doctype html
html
  head
    link(rel="stylesheet",href="/styles/reset.css")
    link(rel="stylesheet",href="/styles/perfectResize.css")
    link(rel="stylesheet",href="/styles/dialogs.css")
    link(rel="stylesheet",href="../../../../common/textEditorWidget/widget.css")
    link(rel="stylesheet",href="index.css")

  body
    .text-editor-container
      textarea(disabled).text-editor

    .resize-handle.bottom
    .error-pane.collapsable
      .header
        .draft
          button.save(title= t("scriptEditor:applyChanges"),data-hotkey="control+S")= t("common:actions.applyChanges")
          button.save-with-errors(hidden,title= t("scriptEditor:applyChangesWithErrors"),data-hotkey="control+Alt+S")= t("common:actions.applyChangesWithErrors")
          span.label= t("scriptEditor:draft")
          span  &mdash;
        .info= t("common:states.loading")

      .content(disabled)
        table
          thead
            tr
              th= t("scriptEditor:errors.line")
              th= t("scriptEditor:errors.message")
              th= t("scriptEditor:errors.script")
          tbody

    .popup-parameter(style="display: none")
      span.item
      span.prefix
      span.parameter
      span.suffix

    script(src="/SupCore.js")
    script(src="/SupClient.js")
    script(src="../../../../../SupEngine.js")
    script(src="../../bundles/data.js")
    script(src="../../bundles/components.js")
    script(src="../../../../common/textEditorWidget/bundles/data.js")
    script(src="../../../../common/textEditorWidget/widget.js")
    script(src="../../../../common/textEditorWidget/codemirror/mode/javascript/javascript.js")
    script(src="index.js")
